//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: 0px 0px;
	@media (any-hover: hover) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
}

.btn {
	display: inline-flex;
	position: relative;
	flex: 0 0 auto;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	width: auto;
	overflow: hidden;
	background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
	@include adaptiveValue("min-height", 50, 40);
	@include adaptiveValue("padding-left", 25, 15);
	@include adaptiveValue("padding-right", 25, 15);
	@media (any-hover: hover) {
		&:hover {
		}
	}
}
