//---------------------------- ▼ ▼ ▼ BURGER ▼ ▼ ▼ -------------------------------

//----------------------BURGER MENU ACTIVE-------------------------

.menu {
	&__icon {
		display: none;
		position: relative;
		top: 0;
		width: rem(30);
		height: rem(20);
		cursor: pointer;
		transition: all 0.5s ease;
		margin: 0 auto;
		@media (max-width: $tablet) {
			display: block;
			order: 3;
			&._active {
				transition: all 0.3s ease;
				z-index: 100;
				& span {
					opacity: 0;
				}
				&::before {
					top: 45%;
					transform: rotate(-45deg);
				}
				&::after {
					bottom: 45%;
					transform: rotate(45deg);
				}
			}
		}
		& span,
		&::before,
		&::after {
			content: "";
			display: inline;
			position: absolute;
			height: rem(2);
			transition: all 0.5s ease 0s;
			background: $mainTextColor;
			width: 100%;
			left: 0;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		& span {
			top: 50%;
			transform: translate(0, -50%);
		}
	}

	&__body {
		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
			position: fixed;
			justify-content: center;
			text-align: center;
			top: 0%;
			left: -100%;
			width: 100%;
			height: 100%;
			color: $mainTextColor;
			background: $mainBackgroundColor;
			backdrop-filter: blur(20px);
			transition: all 0.5s ease;
			overflow: auto;
			z-index: 99;
			&._active {
				transform: translateX(100%);
			}
		}
	}

	&__link {
		display: inline-block;
		transition: color .2s ;
		@media (max-width: $tablet) {
			color: $textColor5;
			transition: color .2s 
		}
	}
}

//---------------------------- ▲ ▲ ▲ BURGER ▲ ▲ ▲ ------------------------------
