//<!-- актуализирован 05/02/22 20.56 -->

//<INPUT>
// Снипет (HTML): inp

input {
	@include adaptiveValue("height", 50, 35);
	border-radius: 10px;
	padding: 0 rem(10);
	&:focus {
		outline: none;
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: rgba(255, 255, 255, 0.2);
	caret-color: #000;
	border: 1px solid rgb(199, 199, 199);
	&:focus {
		background-color: rgba(255, 255, 255, 0.4);
	}
	&._form-error {
		border-bottom: 1px solid red;
	}
}

textarea {
	resize: none;
	padding: rem(10);
	border-radius: 10px;
	width: 100%;
	min-height: rem(100);
	max-height: rem(200);
	@include adaptiveValue("font-size", 20, 14);
}

input::placeholder {
	color: rgba(255, 255, 255, 0.4);
}

.input {
	width: 100%;
	display: block;
	padding: 0 rem(20);
	position: relative;
	&._focus {
	}
	&._error {
	}
}

.inputs__item {


	&:last-of-type {
		margin: rem(0);
	}
	&._focus {
	}
}

// .inputs__label {
// 	margin: 0px 0px 5px 0px;
// 	margin: rem(0) rem(0) rem(5) rem(0);
// }
