// <SELECT>
// Снипет (HTML): sel
.select {
	position: relative;
	&::before{
		content:'';
		position: absolute;
		width: rem(35);
		height: rem(25);
		top: rem(3);
		left: 50%;
		transform: translate( -50%, 0);
		border: $mainBorderColor 1px solid;
		border-radius: 7px;
		background-color: $mainBackgroundColor;
	}
	&._select-open::before{
		height: rem(95);
	}
	// .select__body
	&__body {
		position: relative;
		font-family: "MuseoModerno";
		font-weight: 300;
		font-size: rem(20);
	}
	// .select__title
	&__title {
		color: inherit;
		text-align: center;
		cursor: pointer;
		min-width: rem(50);

	}
	// .select__value
	&__value {
		position: relative;
		display: flex;
		align-items: center;
		color: $mainTextColor;
		height: rem(30);
		> * {
			flex: 1 1 auto;
		}
		&:after,
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translate(0, -50% );
			width: 1px;
			height: 20px;
			background: $backgroundColor6;
		}
		&::before {
			left: 0;
		}
	
		&:after{
			right: 0;
		}

		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: $textColor2;
		position: absolute;
		top: 32px;
		min-width: 100%;
		left: 0;
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: 200px;
		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		text-align: center;
		cursor: pointer;
		padding: 5px 0;
		color: inherit;
		transition: color .2s ease;
		&._select-selected {
			
		}
		@media (any-hover: hover) {
			&:hover {
				color: $mainTextColor;
				transition: color .2s ease;
			}
		}
	}

	// Конструкция дополнительных данных
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	// Состояния селекта
	&._select-open {
		z-index: 5;
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

// Тег
._select-tag {
	cursor: pointer;
}
