//====================================================================================================
footer {
	&__content {
	}
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	@media (max-width:$tablet){
		position: relative;
	}
	// .footer__container
	&__container {
		
	}
	// .footer__content
	&__content {
		display: flex;
		flex-direction: column;
		position: relative;
		align-items: flex-end;
		text-align: right;
		justify-content: center;
		height: rem(120);
		z-index: 1;
		@media (max-width:$tablet){
			height: rem(60);
		}
	}
	// .footer__policy
	&__copy {
		font-size: rem(10);
		@include adaptiveValue("font-size", 10, 8);
		color: $textColor2;
	}
	&__slogan {
		font-family: "MuseoModerno";
		font-weight: 300;
		@include adaptiveValue("font-size", 20, 14, 1920, 994, 1);
		font-size: rem(20);
		padding-bottom: rem(20);
		line-height: 1;
		& span {
			color: $textColor4;
		}
		@media (max-width:$tablet){
			padding-bottom: rem(5);
		}
	}
}
.policy {
}

//====================================================================================================
