//====================================================================================================
footer {
	&__content {
	}
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	@media (max-width:$tablet){

	}
	// .footer__container
	&__container {
		
	}
	// .footer__content
	&__content {
		display: flex;
		align-items: center;
		height: rem(30);
		@media (max-width:$tablet){
		}
	}
	// .footer__policy
	&__copy {
		font-size: rem(10);
		@include adaptiveValue("font-size", 10, 8);
		color: $textColor2;
	}
}
.policy {
}

//====================================================================================================
