//====================================================================================================
footer {
	&__content {
	}
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: 1;
	width: 100%;
	//background-color: $background-color-major;
	@media (max-width:$tablet){

	}
	// .footer__container
	&__container {
		
	}
	// .footer__content
	&__content {
		display: flex;
		align-items: center;
		height: $footer-height;
		@media (max-width:$tablet){
		}
	}
	// .footer__policy
	&__copy {
		font-size: rem(10);
		@include adaptiveValue("font-size", 10, 8);
		color: $text-color-secondary;
	}
}
.policy {
}

//====================================================================================================
