// актуализирован 05/02/22 20.56

//====================================================================================================
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $mainBackgroundColor;
	z-index: 1;
	&__container {
	}

	&__content {
		display: flex;
		position: relative;
		align-items: center;
		height: var(--header-height);
		@media (max-width: $tablet) {

		}
	}

	&__logo {
		flex: 1 1 auto;
		
		& img{
			width: rem(70);
			@media (min-width:$tablet){
				@include adaptiveValue("width", 100, 70, 1920, 994, 1 );
			}
		}
	}


		// .header__lang
	&__lang {

	}

	&__menu {
	}
}

.lang {
	//flex: 0 1 auto;
	// .lang__list
	&__list {
		//display: flex;
	}
	// .lang__item
	&__item {
		font-family: "MuseoModerno";
		font-weight: 300;
		@include adaptiveValue("font-size", 20, 16, 1920, 994, 1);
		color: $textColor2;

		&:not(:last-child){
			//border-right: 1px solid $borderColor2;
		}
		&._current{
			//overflow: hidden;
			color: $mainTextColor;
			font-weight: 500;
			border-bottom: 1px solid $borderColor2;
		}
		// .lang__item_ua
		&_ua {
		}
		// .lang__item_ru
		&_ru {
		}
		// .lang__item_eng
		&_eng {
		}
	}
	// .lang__link
	&__link {
		width: 100%;
		flex: 1 0 33.333%;
		padding: 0 rem(7);
		@media (any-hover: hover){
			&:hover {
				color: $mainTextColor;
			}
		}
		// .lang__link_ua
		&_ua {
		}
		// .lang__link_ru
		&_ru {
		}
		// .lang__link_eng
		&_eng {
		}
	}
}

._popup-link {
	flex: 0 0 auto; // не дает сжать кнопку
	@media (max-width: $mobile) {
		order: 2;
	}
	&__btn {
		@media (max-width: $mobile) {
			display: none;
		}
	}

	&__icon {
		display: none;
		width: rem(30);
		height: rem(30);
		@media (max-width: $mobile) {
			display: block;
		}
	}
}

//====================================================================================================
