// актуализирован 05/02/22 20.56

//====================================================================================================
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;

	@media (max-width:$tablet){
		&._header-scroll:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.3);
			backdrop-filter: blur(10px);
			@media (max-width: $tablet) {
			}
		}
	}
	&__container {
	}

	&__content {
		display: flex;
		position: relative;
		align-items: center;
		column-gap: rem(60);
		height: rem(120);
		@media (max-width: $tablet) {
			column-gap: rem(30);
			height: rem(60);
		}
	}

	&__logo {
		flex: 1 1 auto;
		
		& img{
			width: rem(70);
		}
	}

	&__menu {
	}
}

._popup-link {
	flex: 0 0 auto; // не дает сжать кнопку
	@media (max-width: $mobile) {
		order: 2;
	}
	&__btn {
		@media (max-width: $mobile) {
			display: none;
		}
	}

	&__icon {
		display: none;
		width: rem(30);
		height: rem(30);
		@media (max-width: $mobile) {
			display: block;
		}
	}
}

//====================================================================================================
