// актуализирован 05/02/22 20.56

//====================================================================================================
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;

	@media (max-width:$tablet){
		&:before{
			content:'';
			position: absolute;
			width: 100%;
			top: rem(-60);
			left: 0;
			display: block;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 1) 100%);
			backdrop-filter: blur(4px);
			height: rem(60);
			transition: top 0.15s ease;
		}
		&._header-scroll::before {
			top: rem(0);
			transition: top 0.15s ease;
		}
	}
	&__container {
	}

	&__content {
		display: flex;
		position: relative;
		align-items: center;
		column-gap: rem(60);
		height: rem(120);
		@media (max-width: $tablet) {
			column-gap: rem(30);
			height: rem(60);
		}
	}

	&__logo {
		flex: 1 1 auto;
		
		& img{
			width: rem(70);
			@media (min-width:$tablet){
				@include adaptiveValue("width", 120, 70, 1920, 994, 1 );
			}
		}
	}

	&__menu {
	}
}

._popup-link {
	flex: 0 0 auto; // не дает сжать кнопку
	@media (max-width: $mobile) {
		order: 2;
	}
	&__btn {
		@media (max-width: $mobile) {
			display: none;
		}
	}

	&__icon {
		display: none;
		width: rem(30);
		height: rem(30);
		@media (max-width: $mobile) {
			display: block;
		}
	}
}

//====================================================================================================
