.wrapper {
	&::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("@img/mainphoto.png") 50% 50% / contain no-repeat;
		opacity: 0.6;
		filter: blur(15px);
		opacity: 0.4;
		@media (max-width: $tablet) {
			background: url("@img/mainphoto.png") 30% 0% / cover no-repeat;
		}
		&._shadow {
			filter: blur(15px);
			opacity: 0.4;
		}
	}
}
.page {
	@media (max-width:$tablet){
		padding: rem(60) rem(0) rem(0);
	}
		// .page__container
		&__container {
		}
		// .page__content
		&__content {
		}
}
.tabs {
	position: relative;
		// .tabs__navigation
	&__navigation {
		@media (min-width:$tablet){
	
		}
	}
	// .tabs__title
	&__title {
		display: block;
		font-family: "Michroma", sans-serif;
		text-transform: uppercase;
		font-size: rem(22);
		line-height: math.div(32, 22);
		color: $textColor2;
		padding: rem(10) rem(0);
		white-space: nowrap;
		@media (max-width: $tablet) {
			color: $textColor5;
			font-size: rem(16);
			padding: rem(10) rem(0);
			margin: 0 auto; 
		}
		&._tab-active {
			color: $mainTextColor;
			font-size: rem(36);
			@media (max-width:$tablet){
				font-size: rem(28);
			}
			&::after {
				content: "_";
			}
		}
	}
	// .tabs__content
	&__content {
	}
	// .tabs__body
	&__body {
		padding: rem(20) rem(0) rem(20);
		@media (max-width:$tablet){
	
		}
		
	}
}
.menu {
		// .menu__body
		&__body {
		}
		// .menu__link
		&__link {
		}
}

.Home {
}
.About {
}
.section-title {
	font-family: "Michroma", sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: $mainTextColor;
	//text-shadow: 2px 2px 4px rgba(200, 200, 200, .5);
	font-size: rem(36);
	position: relative;
	//display: inline-block;
	&::before{
		content:'';
		width: 100%;
		height: rem(2);
		background: $backgroundColor4;
		position: absolute;
		bottom: -15px;
		left: 0;
	}
	@media (max-width:$tablet){
		font-size: rem(28);
		margin:  rem(0) rem(0) rem(60) rem(0);
	}
	&::after {
		content: "_";
	}
}
.portfolio {
		// .portfolio__slider
		&__slider {
		}
		// .portfolio__wrapper
		&__wrapper {
		}
		// .portfolio__slide
		&__slide {
		}
		// .portfolio__item
		&__item {
		}
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}

.portfolio {
	// .portfolio__item
	&__item {
	}
}
.portfolio-item {
	display: flex;
	flex-direction: column;
	max-width: rem(900);
	& > *:not(:last-child){
		margin:  rem(0) rem(0) rem(30) rem(0);
	}
	// .portfolio-item__header
	&__header {
		
	}
	// .portfolio-item__gallery
	&__gallery {

	}
	// .portfolio-item__text
	&__text {
		font-size: rem(16);
		line-height: math.div(32, 22);
		& span {
			color: $mainTextColor;
			font-weight: 600;
		}
		@media (max-width:$tablet){
			font-size: rem(12);
		}
	}
}
.portfolio-item-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	// .portfolio-item-header__date
	&__date {
		font-size: rem(12);
	}
	// .portfolio-item-header__label
	&__label {
		display: inline-block;
		font-size: rem(22);
		text-transform: uppercase;
		text-align: center;
		&::first-letter {
			color: $textColor4;
			font-weight: 600;
		}
	}
}
.gallery {
	// .portfolio-item-gallery__image
	&__image {
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	// .portfolio-item-gallery__preview
	&__preview {
	}
}
.portfolio-item-text {
	& > *:not(:last-child){
		margin:  rem(0) rem(0) rem(10) rem(0);
	}
	// .portfolio-item-text__about
	&__about {
	}
	// .portfolio-item-text__tools
	&__tools {
	}
}


.swiper-pagination {
}
.swiper-scrollbar {
}
.Skills {
}
.contacts {
}






/*.page {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
	@media (max-width:$tablet){

	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("@img/mainphoto.png") 50% 50% / contain no-repeat;
		opacity: 0.6;
		filter: blur(15px);
		opacity: 0.4;
		@media (max-width: $tablet) {
			background: url("@img/mainphoto.png") 30% 0% / cover no-repeat;
		}
		&._shadow {
			filter: blur(15px);
			opacity: 0.4;
		}
	}

	// .page__container
	&__container {
		flex: 1 0 100%;
	}
	// .page__content
	&__content {
		display: grid;
		box-sizing: border-box;
		grid-template-columns: 350px 1fr;
		z-index: 2;
		height: 100%;
		width: 100%;
		padding: rem(120) rem(0);
		column-gap: rem(30);
		@media (max-width: $tablet) {
			//height: calc(100vh - rem(60));
			padding: rem(60) rem(0);
			grid-template-columns: 1fr;
			grid-template-rows:  200px 1fr;
			column-gap: rem(0);
		}
	}
}
.tabs {
	display: flex;
	align-items: flex-end;
	position: relative;
	padding: rem(0) rem(0) rem(0) rem(0);
	width: 100%;
	&:after {
		content: "";
		width: rem(3);
		height: 120%;
		display: block;
		background: $backgroundColor4;
		position: absolute;
		right: 0;
		bottom: -20%;
		border-radius: 5px;
	}
	@media (max-width: $tablet) {
		&:after {
			display: none;
		}
		padding: rem(0) rem(10) rem(0) rem(0);
	}
	// .tabs__navigation
	&__navigation {
	}
	// .tabs__title
	&__title {
		display: block;
		font-family: "Michroma", sans-serif;
		text-transform: uppercase;
		font-size: rem(22);
		line-height: math.div(32, 22);
		color: $textColor2;
		padding: rem(10) rem(0);
		white-space: nowrap;
		@media (max-width: $tablet) {
			color: $textColor5;
			font-size: rem(16);
			padding: rem(5) rem(0);
		}
		&._tab-active {
			color: $mainTextColor;
			font-size: rem(36);
			@media (max-width:$tablet){
				font-size: rem(28);
			}
			&::after {
				content: "_";
			}
		}
		// &:not(:first-child)._tab-active < .tabs::after {
		// 	content: "";
		// 	width: rem(2);
		// 	height: 120%;
		// 	display: block;
		// 	background-color: $backgroundColor4;
		// 	position: absolute;
		// 	right: 0;
		// 	bottom: -20%;
		// }
	}
	// .tabs__content
	&__content {
		display: flex;
		overflow: hidden;
		position: relative;
		
		@media (max-width: $tablet) {
			//order: -1;
			margin: rem(0) rem(-10);
		}
	}
	// .tabs__body
	&__body:not(:first-child) {
		overflow-y: auto;
		max-height: rem(700);
		@media (max-width: $tablet) {
			border-bottom: $backgroundColor4 2px solid;
			border-top: $backgroundColor4 2px solid;
			border-radius: 10px;
			padding: rem(20) rem(10);
			max-height: auto;
			
		}
	}
	&__body section {
		@media (max-width: $tablet) {
			
			
		}
	}
}


//============================================================================================================

.portfolio {
	display: flex;
	align-items: center;
	height: 100%;
	@media (max-width:$tablet){
		align-items: flex-start;
	}
	// .portfolio__slider
	&__slider {

	}
	// .portfolio__wrapper
	&__wrapper {

	}
	// .portfolio__slide
	&__slide {
		
	}
	// .portfolio__item
	&__item {

	}
	// .portfolio__pagination
	&__pagination {
	}
}
.swiper {

}
.swiper-wrapper {

}
.swiper-slide {
	
}

.portfolio {
	// .portfolio__item
	&__item {
		display: flex;
		flex-direction: column;
		//min-height: 100%;
		max-width: rem(900);

		margin: 0 auto;
		@media (max-width:$tablet){
		}
	}
	&__slider{
	}
}
.portfolio-item {
	// .portfolio-item__img
	&__img {
		max-width: rem(600);
		align-self: center;
		margin:  rem(0) rem(0) rem(10) rem(0);
		@media (max-width:$tablet){
			max-width: rem(500);
		}
	}
	& img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	// .portfolio-item__text
	&__text {

	}
	// .portfolio-item__date
	&__date {
		font-size: rem(16);
		margin:  rem(0) rem(0) rem(20) rem(0);

	}
	&__header {
		margin:  rem(0) rem(0) rem(30) rem(0);
	}
	// .portfolio-item__label
	&__label {
		display: inline-block;
		font-size: rem(22);
		text-transform: uppercase;
		//align-self: center;
		&::first-letter {
			color: $textColor4;
			font-weight: 600;
		}
	}
}
.item-text {

	// .item-text__hover
	&__description {
		
		font-size: rem(16);
		line-height: math.div(32, 22);
		& span {
			color: $mainTextColor;
			font-weight: 600;
		}
		@media (max-width:$tablet){
			font-size: rem(12);
		}
	}
	// .item-text__about
	&__about {
		margin:  rem(0) rem(0) rem(10) rem(0);
	}
	// .item-text__tools
	&__tools {
	}
}

.portfolio-item {
	// .portfolio-item__preview
	&__preview {
	}
}
.item-preview {
	//display: flex;

	overflow: hidden;
	// .item-preview__desctop
	&__desctop {
		display: inline-block;
		max-width: rem(800);
		overflow-y: auto;
		max-height: rem(300);
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			
		}
	}
	// .item-preview__mobile
	&__mobile {

	}
}


*/

