.page {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("@img/mainphoto.png") 50% 50% / contain no-repeat;
		opacity: 0.6;
		filter: blur(15px);
		opacity: 0.4;
		@media (max-width: $tablet) {
			background: url("@img/mainphoto.png") 30% 0% / cover no-repeat;
		}
		&._shadow {
			filter: blur(15px);
			opacity: 0.4;
		}
	}

	// .page__container
	&__container {
		flex: 1 0 100%;
	}
	// .page__content
	&__content {
		display: grid;
		grid-template-columns: 1fr 3fr;
		position: relative;
		z-index: 2;
		height: 100%;
		width: 100%;
		@include adaptiveValue("column-gap", 30, 10);
		@include adaptiveValue("padding-top", 120, 60);
		@include adaptiveValue("padding-bottom", 120, 50, 768, 280, 1);
		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
			grid-template-rows: 1.4fr minmax(rem(200), 1fr);
			column-gap: rem(0);
		}
	}
}
.tabs {
	display: flex;
	align-items: flex-end;
	position: relative;
	padding: rem(0) rem(0) rem(0) rem(0);
	width: 100%;
	min-width: rem(350);

	&:after {
		content: "";
		width: rem(3);
		height: 120%;
		display: block;
		background: $backgroundColor4;
		position: absolute;
		right: 0;
		bottom: -20%;
		border-radius: 5px;
	}
	@media (max-width: $tablet) {
		&:after {
			display: none;
		}
		padding: rem(0) rem(10) rem(0) rem(0);
	}
	// .tabs__navigation
	&__navigation {
	}
	// .tabs__title
	&__title {
		display: block;
		font-family: "Michroma", sans-serif;
		text-transform: uppercase;
		@include adaptiveValue("font-size", 22, 16, 768, 280, 1);
		line-height: math.div(32, 22);
		color: $textColor2;
		@include adaptiveValue("padding", 10, 5, 768, 280, 1);
		white-space: nowrap;
		@media (max-width: $tablet) {
			color: $textColor5;
		}
		&._tab-active {
			color: $mainTextColor;
			@include adaptiveValue("font-size", 36, 28, 768, 280, 1);
			&::after {
				content: "_";
			}
		}
		// &:not(:first-child)._tab-active < .tabs::after {
		// 	content: "";
		// 	width: rem(2);
		// 	height: 120%;
		// 	display: block;
		// 	background-color: $backgroundColor4;
		// 	position: absolute;
		// 	right: 0;
		// 	bottom: -20%;
		// }
	}
	// .tabs__content
	&__content {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		@media (max-width: $tablet) {
			order: -1;
		}
	}
	// .tabs__body
	&__body {
		overflow-y: auto;
		flex: 1 0 300px;
		@media (max-width: $tablet) {
			padding: rem(20) rem(0) rem(0) rem(0);
		}
	}
}




.portfolio {
	// .portfolio__slider
	&__slider {
	}
	// .portfolio__wrapper
	&__wrapper {
	}
	// .portfolio__slide
	&__slide {
	}
	// .portfolio__item
	&__item {

	}
	// .portfolio__pagination
	&__pagination {
	}
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {

}


.portfolio-item {

	max-width: 385px;
	min-height: 100%;
	overflow: hidden;
	position: relative;
	z-index: 2;
	&:hover .item-text{
		opacity: 1;
		visibility: visible;
	}
	// .portfolio-item__date
	&__date {
	}
	// .portfolio-item__title
	&__title {
		display: block;
		flex: 1 0 100%;

	}
	// .portfolio-item__img-ibg
	&__img  {


	}
	& img {
z-index: -1;
	}
	// .portfolio-item__text
	&__text {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;

	}
}
.item-text {
	// .item-text__about
	&__about {
	}
	// .item-text__tools
	&__tools {
	}
}


